#projectcard {
  width: 300px;
  margin: 5%;
  transition: all .3s;
}

#projectcard:hover {
  box-shadow: -8px 8px 4px -4px rgba(0,0,0,0.2),
              -6px 4px 4px 0px rgba(0,0,0,0.14),
              -3px 4px 12px 0px rgba(0,0,0,0.12);
  transform: translate(8px,-8px);
}

.projectImage {
  width: 100%;
}

#projectcard h1 {
  padding: 0;
  margin: 0;
}

#projectcard p {
  padding: 5px 20px;
}

#cardinternal {
  padding: 0;
}

.projectTags {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}
